.sidebar {
  position: absolute;
  width: 240px;
  height: 100%;
  @include box-sizing(border-box);
  left: -240px;

  .sidebar__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }



  .sidebar__link {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    @extend .orange-text, .text-darken-4;
    text-decoration: none;
    display: block;
    //border-bottom: 1px solid #e65100;
    @include transition(background 0.3s ease-in-out);

    &:hover {
      @extend .orange, .darken-4;
      @extend .white-text;
    }
  }
}

.sidebar__item {
  &.active {
    @extend .orange, .darken-4;
    .sidebar__link {
      color: white !important;
    }
  }
}

.wrapper {
  @include transition(left 0.4s ease-in-out);
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);
  position: relative;
  left: 0;

  &.open-sidebar {
    left: 240px;
  }

}

.maincontent {

  #sidebar-toggle {
    @extend .orange, .darken-3;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;


    .bar {
      display: block;
      width: 18px;
      margin-bottom: 3px;
      height: 2px;
      background-color: #fff;
      border-radius: 1px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


