extends ../main
block title
    | Главная страница
block content
    a(href="#" data-toggle=".wrapper" id="sidebar-toggle")
        span.bar
        span.bar
        span.bar
    article.content-wrapper
        .container
            include ../_blocks/_sensors
            include ../_blocks/_inputs