header.header
    .container
        .header__left
            .logo
            .header__title УправДом
        .header__right
            .date 00-00-2000 00-00-00
            .battery-info 100% - Идёт зарядка