<!-- block inputs -->
.inputs__block
    .inputs__item
        label.inputs__label Имя входа
        input(class="inputs__input" type="text" placeholder="" value="Вход 0" disabled)
        .onoffswitch
            input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked)
            label(class="onoffswitch-label" for="myonoffswitch")