//block inputs start

.inputs__block
    - var inputs = ["Вход 0","Вход 1","Вход 2","Вход 3"]
    ul.inputs__list
        each name, index in inputs
            li.inputs__item
                label.inputs__label Имя входа #{index}
                input(class="inputs__input" type="text" placeholder="" value="#{name}" disabled)
                .onoffsw
                    input(type="checkbox" name="onoffsw" class="onoffsw-checkbox" id="myonoffsw_#{index}" checked)
                    label(class="onoffsw-label" for="myonoffsw_#{index}")
//block inputs end
