//block inputs start

.inputs__block
    - var inputs = ["Вход 0","Вход 1","Вход 2","Вход 3"]
    ul.inputs__list
        each name, index in inputs
            li.inputs__item
                label.inputs__label Имя входа #{index}
                input(class="inputs__input" type="text" placeholder="" value="#{name}" disabled)
                .onoffswitch
                    input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch_#{index}" checked)
                    label(class="onoffswitch-label" for="myonoffswitch_#{index}")
//block inputs end
