//block nav start

nav.nav.hidden
   .container
      -var items = ["Главная", "Сеть", "GSM", "Модули", "Группы", "Автоматизация", "Входы"]
      ul.nav__list
         each item in items
            li(class="nav__item nav__item_" + ( (item == "Входы") ? 'active' : ''))
               a(href="#").nav__link= item
//block nav end
