//sidebar block start

.sidebar
        -var items = ["Главная", "Сеть", "GSM", "Модули", "Группы", "Автоматизация", "Входы"]
        ul.sidebar__list
            each item in items
                li(class="sidebar__item " + ( (item == "Главная") ? 'active' : ''))
                    a(href="#").sidebar__link= item
//sidebar block end
